<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello this will be the edit page!</h1>
    <a href="/">Back to Dashboard</a>

    <h1>Edit the
        <%=animal.name%>
    </h1>
    <form action="/update/<%=animal._id%>" method="post">
        <label>Animal Name:</label>
        <input type='text' value='<%=animal.name%>' name='name'> 
        <label>Type:</label>
        <input type='text' value='<%=animal.type%>' name='type'>
        <label>Diet:</label>
        <input type="text" value="<%=animal.diet%>" name="diet">
        
        <input type='submit' value='Update me!'>
    </form>

    <% if(typeof(errors) != 'undefined' ) { %>
        <% for (var x in errors) { %>
            <h3>
                <%= errors[x].message %>
            </h3>
            <% } %>
                <% } %>

</body>
</html>